<% content_for :breadcrumbs do %>
	<div class="breadcrumbs">
        <h1>Bienvenido a la interfaz de chequeo de Conexión...</h1>
        <!-- <ol class="breadcrumb">
            <li>
                <a href="#">Home</a>
            </li>
            <li class="active">Dashboard</li>
        </ol> -->
    </div>
<% end -%>